/* Styles for the navigation & Header Section */
 .mainHeader{
     text-align: center;
     color: white;
 }

 .mainHeader h1 {
     padding-top: 100px;
 }

 #mainForm{
    width: 50%;
    text-align: center;
 }

 #navSection a{
     color: white;
 }

 #navSection a:hover{
    font-size: 25px;
 }
 .mainSectionn{
    background-color: #2b2f3d;
 }
 
header{
    background-color: #2b2f3d;
   
}
 
/* Styles for the navigation & Header Section ENDS */


/* input form Styles  */
#inputForm{
    width: 50%;
     margin-left: 250px;
}
  
/* Styles for the sticky & transitioning navbar  ------------------- HELPFUL USE AGAIN */
header.sticky #navSection #sectionNav{
 position: fixed;
 background-color: white;
 transition: 0.9s;
 opacity: 0.8;
 
}
 
 
header.sticky #navbarNav ul li a {
color: black; 
padding-top: 20px;
padding-bottom: 20px;
 
}
/* Nav LOGO Styles */
header.sticky #sectionNav  a {
    color: black; 
}

/* END OF Styles for the sticky & transitioning navbar  ------------------- HELPFUL USE AGAIN */










 
/* media Queries */


